.Tiles,
.Subscriptions {
  margin-bottom: 16px;
}

.Tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.Buttons {
  display: flex;
  gap: 16px;
}
