.Tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.TileContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Subscriptions {
  width: 80%;
  margin: 0 auto;
}
