@use '/src/styles/constants' as *;
@use '/src/styles/mixins' as *;

.Root {
  min-width: 110px;
  height: $subscriptions-row-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.Name {
  @include apply-to(Tablet, Laptop, Desktop) {
    max-width: 200px;
  }

  @include apply-to(Mobile) {
    max-width: 120px;
  }
}
