.Root {
  display: flex;
  position: relative;

  &_vertical {
    flex-direction: column;

    &_inRow,
    &_firstInRow {
      flex: 1;
    }
  }

  &_horizontal {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    &_inRow,
    &_firstInRow {
      flex: 1;
    }

    &_inColumn {
      margin-right: 120px;
    }
  }
}

.LabelContainer {
  &_vertical {
    padding-bottom: 4px;
  }

  &_horizontal {
    height: 40px;
    padding-right: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_inColumn {
      flex: 0 0 112px;
    }
  }
}

.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60px;

  &_horizontal {
    flex: 1;
  }
}

.ErrorMessage {
  margin: 0;
  height: 18px;
  overflow: hidden;
}
