@use '/src/styles/constants' as *;
@use '/src/styles/mixins' as *;

.Root {
  box-sizing: border-box;
  padding: 32px;
  min-height: calc(100vh - $top-bar-height);
}

.Header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  gap: 16px;

  @include apply-to(Mobile) {
    flex-wrap: wrap;
  }
}

.HeaderAddon {
  margin-left: auto;
}
