@use '/src/styles/mixins' as *;
@use '../../Layout.module.scss' as *;

$button-size: 40px;

.Button {
  @include reset-button;

  height: $button-size;
  width: $button-size;
  color: var(--ui-button-text);
  background-color: var(--ui-button);
  border-radius: 100%;
}

.Container {
  position: fixed;
  top: $top-bar-height;
  right: 16px;
  width: 200px;
  padding: 16px 0;
  background-color: var(--canvas-secondary);
  border: 1px solid var(--ui-button-hover);
  border-radius: 16px;
}

.DisplayNameContainer {
  text-align: left;
  padding: 0 16px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
