@use '/src/styles/mixins' as *;

$button-height: 34px;

.Link {
  text-decoration: none;
}

.Button {
  @include reset-button;
}

.Link,
.Button {
  width: fit-content;
}

.Container {
  display: flex;
  align-items: center;
  height: $button-height;
  color: var(--ui-button-text);
  border-radius: 4px;
  padding: 0 8px;

  &_theme {
    &_primary {
      background-color: var(--ui-button);

      &:hover {
        background-color: var(--ui-button-hover);
      }

      &:active {
        background-color: var(--ui-button-active);
      }
    }

    &_danger {
      background-color: var(--ui-button-danger);

      &:hover {
        background-color: var(--ui-button-danger-hover);
      }

      &:active {
        background-color: var(--ui-button-danger-active);
      }
    }
  }
}

.IconContainer {
  width: $button-height;
  height: 100%;
}

.TextContainer {
  flex: 1 0;
  padding: 0 8px;
}
