@use '/src/styles/mixins' as *;

$normal-button-height: 34px;
$square-button-size: 40px;

.Root {
  &_width {
    &_fitContent,
    &_block {
      height: $normal-button-height;
    }

    &_fitContent {
      width: fit-content;
      min-width: 60px;
    }

    &_block {
      width: 100%;
    }

    &_square {
      width: $square-button-size;
      height: $square-button-size;
    }
  }
}

.Link {
  text-decoration: none;
}

.Button {
  @include reset-button;
}

.Link,
.Button {
  width: 100%;
  height: 100%;
}

.Container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 4px;

  &_theme {
    &_primary {
      color: var(--ui-button-text);
      background-color: var(--ui-button);
      padding: 0 8px;

      &:hover:not(&Pressed) {
        background-color: var(--ui-button-hover);
      }

      &Pressed,
      &:active:not(&Pressed) {
        background-color: var(--ui-button-active);
      }
    }

    &_secondary {
      color: var(--text-primary);
      background-color: var(--canvas-primary);
      padding: 0 7px;
      border: 1px solid transparent;

      &Pressed,
      &:hover,
      &:active {
        color: var(--text-secondary);
        background-color: var(--canvas-primary-highlighted);
      }

      &:hover:not(&Pressed) {
        border-color: var(--ui-button-hover);
      }

      &Pressed,
      &:active:not(&Pressed) {
        border-color: var(--ui-button);
      }
    }

    &_danger {
      color: var(--ui-button-text);
      background-color: var(--ui-button-danger);
      padding: 0 8px;

      &:hover:not(&Pressed) {
        background-color: var(--ui-button-danger-hover);
      }

      &Pressed,
      &:active:not(&Pressed) {
        background-color: var(--ui-button-danger-active);
      }
    }
  }
}

.IconContainer {
  height: 100%;
}

.TextContainer {
  flex: 1 0;
  padding: 0 8px;
  display: flex;
  justify-content: center;
}
