@use '/src/styles/mixins' as *;

$button-height: 34px;

.Root {
  &_width {
    &_fitContent {
      width: fit-content;
      min-width: 60px;
    }

    &_block {
      width: 100%;
    }
  }
}

.Link {
  text-decoration: none;
}

.Button {
  @include reset-button;
}

.Link,
.Button {
  width: 100%;
}

.Container {
  display: flex;
  align-items: center;
  height: $button-height;
  color: var(--ui-button-text);
  border-radius: 4px;
  padding: 0 8px;

  &_theme {
    &_primary {
      background-color: var(--ui-button);

      &:hover {
        background-color: var(--ui-button-hover);
      }

      &:active {
        background-color: var(--ui-button-active);
      }
    }

    &_danger {
      background-color: var(--ui-button-danger);

      &:hover {
        background-color: var(--ui-button-danger-hover);
      }

      &:active {
        background-color: var(--ui-button-danger-active);
      }
    }
  }
}

.IconContainer {
  height: 100%;
}

.TextContainer {
  flex: 1 0;
  padding: 0 8px;
  display: flex;
  justify-content: center;
}
