@use 'sass:map';
@use '/src/styles/constants' as *;

.Root {
  position: absolute;
  z-index: map.get($z-indexes, 'interval');
  height: $subscriptions-row-height;
  border-radius: 4px;
  cursor: pointer;

  &_color {
    &_user {
      background-color: var(--ui-button);
    }

    &_current {
      background-color: var(--ui-link);
    }

    &_all {
      background-color: var(--ui-switch-track-on);
    }
  }

  &_picked {
    z-index: map.get($z-indexes, 'interval-picked');
  }

  &:hover {
    filter: saturate(2);
  }
}

.Details {
  height: $subscriptions-row-height;
  width: calc(100% + 128px);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  transition: all 0.3s ease-out;
  opacity: 0;
  transform: translate(-64px, -25px);

  &_shown {
    opacity: 1;
    transform: translate(-64px, 0);
  }
}

.Start,
.End {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--canvas-secondary-deeper);
  padding: 0 8px;
  border-radius: 4px;
  box-shadow: $shadow-default;
}

.Start {
  align-items: flex-end;
  text-align: right;
}

.RangeHighlight {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--canvas-modifier-hover);
  pointer-events: none;
  transition: all 0.3s ease-out;
  opacity: 0;
  transform: scaleY(0);

  $border: 1px solid var(--text-primary);

  border-left: 1px solid var(--text-primary);
  border-right: 1px solid var(--text-primary);

  &_shown {
    opacity: 1;
    transform: scaleY(1);
  }
}

.IntervalChoiceButtonContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
