@use 'sass:map';
@use './functions/index' as *;

$colors: (
  'canvas-primary': (
    'dark': #36393f,
    'light': #fff,
  ),
  'canvas-primary-highlighted': (
    'dark': #32353b,
    'light': #fafafa,
  ),
  'canvas-secondary': (
    'dark': #2f3136,
    'light': #f2f3f5,
  ),
  'canvas-secondary-deep': (
    'dark': #292b2f,
    'light': #ebedef,
  ),
  'canvas-secondary-deeper': (
    'dark': #202225,
    'light': #e3e5e8,
  ),
  'canvas-modifier-hover': (
    'dark': rgba(80, 85, 94, 0.161),
    'light': rgba(116, 127, 141, 0.08),
  ),
  'canvas-modifier-active': (
    'dark': rgba(79, 84, 92, 0.24),
    'light': rgba(116, 127, 141, 0.16),
  ),
  'canvas-modifier-selected': (
    'dark': rgba(79, 84, 92, 0.32),
    'light': rgba(116, 127, 141, 0.24),
  ),
  'text-primary': (
    'dark': #dcddde,
    'light': #2e3338,
  ),
  'text-secondary': (
    'dark': #fff,
    'light': #060607,
  ),
  'ui-button-text': (
    'dark': #fff,
    'light': #fff,
  ),
  'ui-button': (
    'dark': #5865f2,
    'light': #5865f2,
  ),
  'ui-button-hover': (
    'dark': #4752c4,
    'light': #4752c4,
  ),
  'ui-button-active': (
    'dark': #3c45a5,
    'light': #3c45a5,
  ),
  'ui-button-danger': (
    'dark': #ed4245,
    'light': #ed4245,
  ),
  'ui-button-danger-hover': (
    'dark': #c03537,
    'light': #c03537,
  ),
  'ui-button-danger-active': (
    'dark': #a12d2f,
    'light': #a12d2f,
  ),
  'ui-input-background': (
    'dark': #40444b,
    'light': #ebedef,
  ),
  'ui-backdrop': (
    'dark': rgba(#000, 0.6),
    'light': rgba(#000, 0.6),
  ),
  'ui-switch-track-on': (
    'dark': #3ba55d,
    'light': #3ba55d,
  ),
  'ui-switch-track-off': (
    'dark': #72767d,
    'light': #72767d,
  ),
  'ui-switch-thumb': (
    'dark': #fff,
    'light': #fff,
  ),
  'ui-link': (
    'dark': #00aff4,
    'light': #0068e0,
  ),
  'ui-scrollbar-thumb': (
    'dark': #202225,
    'light': #ccc,
  ),
  'ui-scroll-shading': (
    'dark': rgba(#fff, 0.2),
    'light': rgba(#000, 0.33),
  ),
);
$breakpoints: (
  'Mobile': (
    'min-width': 320px,
  ),
  'Tablet': (
    'min-width': 768px,
  ),
  'Laptop': (
    'min-width': 1280px,
  ),
  'Desktop': (
    'min-width': 1600px,
  ),
);
$breakpoints: populate-breakpoints-with-media-queries($breakpoints);
$layout-min-width: map.get(
  $breakpoints,
  nth-map-key($breakpoints, 1),
  'min-width'
);
$top-bar-height: 60px;
$z-indexes: (
  'modal': 410,
  'modal-backdrop': 400,
  'header': 300,
  'scroll-shading': 200,
  'interval-picked': 110,
  'interval': 100,
);
$shadow-default: 0 5px 5px -3px rgb(0, 0, 0, 0.2),
  0 8px 10px 1px rgb(0, 0, 0, 0.14), 0 3px 14px 2px rgb(0, 0, 0, 0.12);
$subscriptions-row-height: 50px;
