@use 'sass:map';
@use 'sass:string';
@use './constants';

@mixin theme-colors($theme, $colors) {
  @each $name, $color in $colors {
    /* stylelint-disable-next-line custom-property-pattern */
    --#{$name}: #{map.get($colors, $name, $theme)};
  }
}

@mixin apply-to($breakpoint-labels...) {
  $combined-query: '';

  @each $label in $breakpoint-labels {
    $combined-query: string.insert(
      $combined-query,
      map.get(constants.$breakpoints, $label, 'query'),
      -1
    );
    $combined-query: string.insert($combined-query, ', ', -1);
  }

  $combined-query-without-trailing-comma: string.slice($combined-query, 1, -3);

  @media #{$combined-query-without-trailing-comma} {
    @content;
  }
}
