@use 'sass:math';
@use '/src/styles/mixins' as *;

$form-gap: 16px;
$gap-negation: math.div(-$form-gap, 2);

.Container {
  @include apply-to(Mobile) {
    margin: 0 24px;
  }

  @include apply-to(Tablet, Laptop, Desktop) {
    max-width: 620px;
    margin: 0 auto;
  }
}

.PickerButtons {
  position: absolute;
  left: calc(100% + 8px);
  display: flex;
  gap: 8px;

  @include apply-to(Mobile) {
    top: 23px;
    flex-direction: column;
  }
}

.FormErrorDisplay {
  @include apply-to(Mobile) {
    margin: $gap-negation 0;
  }

  @include apply-to(Tablet, Laptop, Desktop) {
    margin: $gap-negation 120px;
  }
}

.FormText {
  @include apply-to(Mobile) {
    margin: 0;
  }

  @include apply-to(Tablet, Laptop, Desktop) {
    margin: 0 120px;
  }
}
