@use '/src/styles/mixins' as *;

.Root {
  display: inline-flex;
  align-items: center;
  color: inherit;
  user-select: none;
  column-gap: 3px;
  padding: 0 8px;
}

.Icon {
  width: 32px;
  height: 32px;
}
