@mixin hidden {
  margin: 0;
  height: 0;
  opacity: 0;
}

@mixin shown {
  margin: 20px 0;
  height: 70px;
  opacity: 1;
}

.Root {
  @include shown;

  line-height: 1.6;
  padding: 0 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--canvas-secondary-deeper);
  border: 1px solid var(--ui-button-danger-active);
  border-radius: 2px;

  &_transition {
    &_enter {
      @include hidden;
    }

    &_enterActive {
      @include shown;

      transition: all 0.5s ease-out;
    }

    &_exit {
      @include shown;
    }

    &_exitActive {
      @include hidden;

      transition: all 0.5s ease-out;
    }
  }
}
