@mixin hidden {
  margin: 0;
  height: 0;
  opacity: 0;
}

@mixin shown {
  margin: 20px 0;
  height: 70px;
  opacity: 1;
}

.Root {
  @include shown;

  &_transition {
    &_enter {
      @include hidden;
    }

    &_enterActive {
      @include shown;

      transition: all 0.5s ease-out;
    }

    &_exit {
      @include shown;
    }

    &_exitActive {
      @include hidden;

      transition: all 0.5s ease-out;
    }
  }
}
