@use '/src/styles/constants' as *;
@use '/src/styles/mixins' as *;

.Root {
  min-height: 100%;
  min-width: $layout-min-width;
  display: flex;
  flex-direction: column;
}

.Header {
  box-sizing: border-box;
  background-color: var(--canvas-secondary-deeper);
  display: flex;
  border-bottom: 1px solid var(--ui-backdrop);
}

.MenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:active {
    background-color: var(--canvas-secondary);
    color: var(--text-secondary);
  }

  &:focus-visible {
    outline: none;
  }
}

.Wrapper {
  display: flex;
  flex-grow: 1;
}

.MenuContainer {
  flex: 0 0 280px;
  background-color: var(--canvas-secondary);
}

.MenuContainer_hidden {
  display: none;
}

.ContentContainer {
  flex: 1 0 auto;
  background-color: var(--canvas-secondary-deep);
}

@include apply-to(Mobile) {
  .Header {
    height: 52px;
  }

  .MenuButton {
    width: 52px;
  }

  .MenuIcon {
    width: 28px;
    height: 28px;
  }
}

@include apply-to(Tablet, Laptop, Desktop) {
  .Header {
    height: 60px;
  }

  .MenuButton {
    width: 60px;
  }

  .MenuIcon {
    width: 32px;
    height: 32px;
  }
}
