@use '/src/styles/constants' as *;
@use '/src/styles/mixins' as *;

$top-bar-height: 60px;

.Root {
  min-height: 100vh;
  min-width: $layout-min-width;
  display: flex;
  flex-direction: column;
}

.Header {
  height: $top-bar-height;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  background-color: var(--canvas-secondary-deeper);
  display: flex;
  border-bottom: 1px solid var(--ui-backdrop);
}

.Wrapper {
  display: flex;
  flex: 1;
}

.LogoContainer {
  text-decoration: none;
  display: flex;

  &:hover,
  &:focus-visible,
  &:active {
    background-color: var(--canvas-secondary);
    color: var(--text-secondary);
  }

  &:focus-visible {
    outline: none;
  }
}

.MenuContainer,
.ContentContainer {
  box-sizing: border-box;
  padding: 40px;
}

.MenuContainer {
  height: calc(100vh - $top-bar-height);
  top: $top-bar-height;
  background-color: var(--canvas-secondary);
}

.ContentContainer {
  background-color: var(--canvas-secondary-deep);
}

@include apply-to(Tablet, Laptop, Desktop) {
  .MenuContainer {
    position: sticky;
    flex: 0 0 280px;
  }
}

@include apply-to(Laptop, Desktop) {
  .MenuButton {
    display: none;
  }
}

@include apply-to(Mobile, Tablet) {
  .MenuButton {
    width: $top-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: var(--canvas-secondary);
      color: var(--text-secondary);
    }

    &:focus-visible {
      outline: none;
    }
  }

  .MenuIcon {
    width: 32px;
    height: 32px;
  }

  .MenuContainer {
    &_hiddenOnSmallScreens {
      display: none;
    }
  }
}

@include apply-to(Mobile) {
  .MenuContainer {
    position: fixed;
    width: 280px;
  }
}
