@use 'sass:map';
@use '/src/styles/constants' as *;
@use '/src/styles/mixins' as *;

@mixin top-bar-interactions {
  &:hover,
  &:focus-visible,
  &:active {
    background-color: var(--canvas-secondary);
    color: var(--text-secondary);
  }

  &:focus-visible {
    outline: none;
  }
}

.Root {
  min-height: 100vh;
  min-width: $layout-min-width;
  display: flex;
  flex-direction: column;
}

.Header {
  height: $top-bar-height;
  position: sticky;
  z-index: map.get($z-indexes, 'header');
  top: 0;
  background-color: var(--canvas-secondary-deeper);
  display: flex;
}

.MenuButton {
  width: $top-bar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include top-bar-interactions;
}

.MenuIcon {
  width: 32px;
  height: 32px;
}

.UserMenuButtonContainer {
  align-self: center;
  margin-right: 16px;
}

.ColumnWrapper {
  display: flex;
  flex: 1;
}

.LogoContainer {
  color: var(--text-primary);
  text-decoration: none;
  display: flex;

  @include top-bar-interactions;
}

.Sidebar {
  background-color: var(--canvas-secondary);
}

.SidebarHeader {
  display: flex;
  align-items: center;
  height: $top-bar-height;
}

.Content {
  background-color: var(--canvas-secondary-deep);
  flex: 1;
}

@include apply-to(Tablet, Laptop, Desktop) {
  .Sidebar {
    position: sticky;
    height: calc(100vh - $top-bar-height);
    top: $top-bar-height;
    flex: 0 0 280px;
  }
}

@include apply-to(Mobile) {
  .Sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 280px;
  }
}
