@use '/src/styles/mixins' as *;

.Root {
  box-sizing: border-box;
  min-width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;

  @include tile;
}

.Header {
  display: flex;
  align-items: center;
}

.HeaderIcon {
  color: var(--text-primary);
  margin-right: 8px;
}
