@use '/src/styles/constants' as *;

.Content {
  position: absolute;
  top: 8px;
  padding: 8px 0;
  background-color: var(--canvas-secondary);
  border: 1px solid var(--ui-button);
  border-radius: 4px;
  box-shadow: $shadow-default;

  &_align {
    &_center {
      left: 50%;
      transform: translateX(-50%);
    }

    &_right {
      right: 0;
    }
  }

  &_width {
    &_narrow {
      width: 140px;
    }

    &_default {
      width: 200px;
    }

    &_wide {
      width: 260px;
    }
  }
}
