@use 'sass:map';
@use '/src/styles/constants' as *;

.Content {
  position: relative;
  z-index: map.get($z-indexes, 'modal');
}

.Backdrop {
  position: fixed;
  z-index: map.get($z-indexes, 'modal-backdrop');
  inset: 0;

  &_theme {
    &_shaded {
      background-color: var(--ui-backdrop);
    }

    &_transparent {
      background-color: transparent;
    }
  }
}
