@use 'sass:math';

$gap: 40px;
$gap-negation: math(-$gap, 2);

.Root {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.Heading,
.BottomAddon {
  margin: 0;
}

.Heading {
  align-self: center;
}

.ErrorDisplayContainer {
  margin: $gap-negation 0;
}

.FormContainer {
  align-self: stretch;
}

.ButtonContainer {
  display: flex;
  gap: 16px;
}

.BottomAddonContainer {
  align-self: start;
}

.BottomAddon {
  line-height: 1.6;
}
