@use '/src/styles/mixins' as *;

.Container {
  position: absolute;
  width: 200px;
  top: 8px;
  padding: 8px 0;
  background-color: var(--canvas-secondary);
  border: 1px solid var(--ui-button);
  border-radius: 4px;

  @include apply-to(Tablet, Laptop, Desktop) {
    left: 50%;
    transform: translateX(-50%);
  }

  @include apply-to(Mobile) {
    right: 0;
  }
}
