$row-height: 50px;
$row-gap: 8px;

.Root {
  display: flex;
  gap: 16px;
}

.UserList,
.IntervalList,
.Min,
.Max {
  display: flex;
  flex-direction: column;
}

.UserList {
  padding-top: $row-height + $row-gap;
  align-items: flex-end;
  text-align: right;
  gap: $row-gap;
}

.UserName {
  height: $row-height;
  display: flex;
  align-items: center;
}

.IntervalList {
  gap: $row-gap;

  $border: 1px solid var(--canvas-primary);

  border-left: $border;
  border-right: $border;
}

.IntervalHeader {
  padding: 0 $row-gap;
  height: $row-height;
  display: flex;
  justify-content: space-between;
}

.Min,
.Max {
  justify-content: center;
}

.Max {
  align-items: flex-end;
  text-align: right;
}

.UserIntervals {
  position: relative;
  height: $row-height;
}

.Interval {
  position: absolute;
  height: $row-height;
  border-radius: 4px;

  &_color {
    &_user {
      background-color: var(--ui-button);
    }

    &_all {
      background-color: var(--ui-switch-track-on);
    }
  }
}
