$row-height: 50px;
$row-gap: 8px;

.Root {
  display: flex;
  gap: 16px;
  padding: 0 80px 20px 0;
}

.UserList,
.IntervalList,
.Min,
.Max {
  display: flex;
  flex-direction: column;
}

.UserList {
  padding-top: $row-height + $row-gap;
  align-items: flex-end;
  text-align: right;
  gap: $row-gap;
}

.UserName {
  height: $row-height;
  display: flex;
  align-items: center;
  gap: 8px;
}

.IntervalList {
  min-width: 120px;
  gap: $row-gap;

  $border: 1px solid var(--canvas-modifier-selected);

  border-left: $border;
  border-right: $border;
}

.IntervalHeader {
  padding: 0 $row-gap;
  height: $row-height;
  display: flex;
  justify-content: space-between;
}

.Min,
.Max {
  justify-content: center;
}

.Max {
  align-items: flex-end;
  text-align: right;
}

.UserIntervals {
  position: relative;
  height: $row-height;
}
