@use '/src/styles/mixins' as *;

.Root {
  @include reset-button;

  width: 40px;
  height: 40px;
  color: var(--text-primary);
  background-color: var(--canvas-primary);
  border: 1px solid transparent;
  border-radius: 4px;

  &_selected,
  &:hover,
  &:active {
    color: var(--text-secondary);
    background-color: var(--canvas-primary-highlighted);
  }

  &:hover:not(&_selected) {
    border-color: var(--ui-button-hover);
  }

  &_selected,
  &:active:not(&_selected) {
    border-color: var(--ui-button);
  }
}
