@use '/src/styles/constants' as *;

.Root {
  background-color: var(--canvas-secondary-deep);
  min-height: 100vh;
  min-width: $layout-min-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ThemeButtonContainer {
  position: absolute;
  top: 30px;
  right: 30px;
}
