$thumb-size: 18px;

.Root {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.Input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Track {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--ui-switch-track-off);
  transition: all 0.4s ease-in-out;
  border-radius: 14px;

  &::before {
    position: absolute;
    content: '';
    height: $thumb-size;
    width: $thumb-size;
    top: 3px;
    left: 3px;
    background-color: var(--ui-switch-thumb);
    transition: all 0.4s ease-in-out;
    border-radius: 50%;
  }

  &_checked {
    background-color: var(--ui-switch-track-on);

    &::before {
      transform: translateX(16px);
    }
  }
}
