.Root {
  --gap: 40px;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.Heading,
.LinkContainer {
  margin: 0;
}

.Heading {
  align-self: center;
}

.FormContainer {
  align-self: stretch;
}

.Links {
  align-self: start;
}

.LinkContainer {
  line-height: 1.6;
}
