.Root {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.Heading {
  margin: 0 0 16px;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &_color {
    &_default {
      color: var(--text-primary);
    }

    &_accentPrimary {
      color: var(--ui-link);
    }

    &_accentSecondary {
      color: var(--ui-switch-track-on);
    }

    &_faded {
      color: var(--ui-switch-track-off);
    }
  }
}

.ListItemIconContainer {
  margin-right: 8px;
}

.ListItemTextContainer {
  margin: 0;
  padding-top: 2px;
  line-height: 1.25;
}
