.Root {
  height: fit-content;
  width: fit-content;
  position: relative;
}

.Backdrop {
  position: absolute;
  inset: 50px;
  background-color: var(--ui-backdrop);
  box-shadow: 0 0 30px 40px var(--ui-backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
}
