@use '/src/styles/mixins' as *;

$item-height: 34px;

.Link {
  text-decoration: none;
}

.Button {
  @include reset-button;

  width: 100%;
}

.Container {
  display: flex;
  align-items: center;
  height: $item-height;
  color: var(--text-primary);
  border-radius: 4px;
  padding: 0 8px;

  &_selected,
  &:hover,
  &:active {
    color: var(--text-secondary);
  }

  &_selected {
    background-color: var(--canvas-modifier-selected);
  }

  &:hover:not(&_selected) {
    background-color: var(--canvas-modifier-hover);
  }

  &:active:not(&_selected) {
    background-color: var(--canvas-modifier-active);
  }
}

.IconContainer {
  width: $item-height;
  height: 100%;
  margin-right: 8px;
}
