.Controls {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}

$width: 230px;

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, max-content));
  grid-gap: 24px;
  justify-content: center;
}

.ListItem {
  width: $width;
  background-color: var(--canvas-primary);
  border-radius: 4px;

  &:hover {
    background-color: var(--canvas-primary-highlighted);
  }

  &_loader {
    min-height: $width;
    height: 100%;
  }
}

.ListItemLink {
  text-decoration: none;
}
